@use "../../assets/scss/abstracts" as *;

.crop {
  height: 100%;
  background-color: #F6F8F7;
  
  .cropHead {
    padding: 20px 15px 30px 15px;
    background: #F6F8F7;

    .leftIcon {
      cursor: pointer;
    }

    .cropTitle {
      font-weight: 500;
      margin-bottom: 0;
      font-size: 1.25rem;
    }
  }

  .cropperContainer {
    width: 100%;
    overflow: hidden;
    
    .cropper-canvas {
      width: 100% !important;
      height: auto !important;
    }

    .cropper-view-box,
    .cropper-face {
      border-radius: 0;
    }
  }

  .buttonContainer {
    margin-top: 10px;
    padding: 0 35px;
    padding-top: 25px;
    padding-bottom: 10px;
    background: white;

    .applyButton {
      background-color: rgba(63, 81, 181, 1);
      font-weight: 600;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;

      &:hover {
        background-color: #0056b3;
      }
    }

    .cancelButton {
      background-color: rgba(243, 243, 243, 1);
      font-weight: 600;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;

      &:hover {
        background-color: rgb(222, 219, 219);
      }
    }
  }
}
