@use "../../assets/scss/abstracts" as *;

.crop {
  height: 100%;
  background-color: #F6F8F7;
  
  .cropHead {
    padding: 20px 15px 30px 15px;
    background: #F6F8F7;

      .leftIcon {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .cropTitle {
        margin-bottom: 0;
        font-weight: 500;
      }
    }

    .cropperContainer {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
    
      .cropper-canvas {
        width: 100% !important;
        height: auto !important;
      }
    
      .cropper-view-box,
      .cropper-face {
        border-radius: 0; 
      }
    }

    .buttonContainer {
      margin-top: 10px;
      margin-bottom: 50px;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      gap: 20px;
    }

    .applyButton {
      background-color: rgba(63, 81, 181, 1);
      font-weight: 600;
      color: white;
      padding: 14px 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      border: none;
    }

    .cancelButton {
      background-color: rgba(243, 243, 243, 1);
      font-weight:600;
      padding: 14px 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      border: none;
    }

    .applyButton:hover {
      background-color: #0056b3; 
    }

    .cancelButton:hover {
      background-color: #5a6268; 
    }
}
