$blue: #0199DE;
$blue1: #3167B1;
$blue2: #3F51B5;
$blue3: #344BFD;
$blue-light: #0199DE33;
$red: #E53935;

$black: #000;

$grey: #D0D5DD;
$light-grey: #F5F5F5;
$grey-dark: #243744;

$white: #FAF9F6;
$white1: #F8F8F8;
$white2: #FFFFFF;
$white3: #F6F8F7;

$root-font-size: 16px;
$fs: 40;
$line-height: 38;
$fw: 800;
$height: 700;
$placeholder-opacity-min: .2;

