@use "../../../assets/scss/abstracts" as *;

.layout {
    border-right: 1px solid rgba(0, 0, 0, 0.10);
    z-index: 1;
    background: $light-grey;
    background-color: $white2;
    display: flex;
    overflow: hidden;    
    .menu {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        text-transform: capitalize;

        .fs_14 {
            font-size: 14px;
            color: rgba(136, 136, 136, 1);
        }

        .menuSection {
            gap: 10px;
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: rgba(203, 216, 242, 1);
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border: 2px;
            position: relative;
            width: calc(100% + 20px);            padding-right: 40px;
            border-right: 5px solid #3a5dcb;

            .menuTitle {
                margin-bottom: 0;
                font-size: 18px;
                font-weight: 600;
                color: $blue2;
            }
        }
    }

}