@use "../abstracts" as *;

.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: auto;
    //width: 100vw;
    scroll-margin: 0;
    overflow-y: scroll;
}
body{
    scroll-margin: 0;
    overflow-y: scroll;
    
   }
   ::-webkit-scrollbar-track{
    background: transparent;
   }
   ::-webkit-scrollbar{
    display: none;
   }
   #root{
    overflow: hidden;
   }
   html{
    scroll-behavior: smooth;
   }