.anu {
  span {
    color: #243744;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
}

.page {
  ul {
    li {
      span {
        color: red !important;
      }
    }
  }
}

.ellipsis {
  margin: 0 8px;
  color: #243744;
  cursor: default;
  pointer-events: none;
}