      .anu{
        span{
            color :#243744;
            font-weight: 600;
            font-size: '14px';
            line-height: '20px';

        }
      }
     .page{
      ul{
        color:red !important;
        li{
          span{
            color:red !important;
          }
          color:red !important;
          // cursor: pointer;
        }
      }
     
     }
      

      