.modall {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .modalTitle {
    font-weight: 600;
  }

  .modalContent {
    color: #333;
    background-color: #FBFBFB;
    font-size: 14px;
    font-weight: 600;

    .tick {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 40px;
          height: 40px;
        }
    }
  }

  .modalFoooter {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 100%;
        background-color: #20c75d;
        cursor: pointer;
    }
  }
}