@use "../../assets/scss/abstracts" as *;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
 
 
.upload {
  width: 100%;
  font-weight: 600;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  background-color: #F6F8F7;
 
  .webcamContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .webcamPreview {
    margin-bottom: 20px;
  }
 
  .captureBtn,
  .closeWebcamBtn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #344bfd;
    color: #fff;
    cursor: pointer;
  }
 
  .closeWebcamBtn {
    background-color: #ff4d4d;
  }
 
 
  .uploadHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
 
    .headerBackIcon {
      width: 20px;
      height: 24px;
      cursor: pointer;
    }
 
    .uploadTitle {
      font-size: 24px;
      font-weight: 600;
      font-family: poppins;
    }
  }
 
  .inputSection {
    display: flex;
    flex-direction: row;
    // max-width: calc(50% - 10px);
    // justify-content: space-between;
    .searchSection{
      font-family: poppins;
      font-weight: 500;
      font-size: small;
      color: #243744;
      
    }
    .swatchTitle{
      font-family: poppins;
      font-weight: 500;
      font-size: small;
      color:#243744;
    }
    input {
      //width: 340px;
      padding: 10px 14px;
    }
  }
 
  .uploadArea {
    margin-top: 10px;
    border: 2px dashed $blue2;
    background-color: $white2;
    //height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    // max-width: calc(50% - 10px);
 
    .uploadIcon {
      margin-top: 10px;
      cursor: pointer;
    }
  }
 
  .captureBtn {
    border-radius: 50px;
    background-color: #D7DAEE;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin: 10px 0 30px;
 
    .cameraBtn {
      border: none;
      background: no-repeat;
      padding: 14px;
      color:#3F51B5;
    }
  }
 
  .webcam {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
 
  .uploadPreview {
    display: flex;
   font-family: poppins;
    align-items:flex-start;
    flex-direction: row;
    justify-content: center;
   //font-weight: 500;
    margin-top: 20px;
    .fileUpload {
      //background-color: #FFFFFF;
      padding: 20px;
      border-radius: 12px;
      flex-direction: column;
      max-height: 400px;
      flex-wrap: nowrap;
      overflow-y:auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 8px;
        display: inline;
      };
      &::-webkit-scrollbar-thumb {
        background:#E4E7EC;
        border-radius: 50px;
      }
 
      .imageBox {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #fff;
        margin: 10px;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        border-radius: 12px;
     
      }
     
      .imageBox:hover {
        // transform: scale(1.05);
        background-color: #344BFD;
 
      }
     
      .imageBox img {
        max-width: 100%;
        height: auto;
      }
 
      .progressBarContainer {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        .fileIcon {
          width: 15px;
          margin-right: 10px;
        }
        .fileInfo {
          display: flex;
          flex-direction: column;
          margin-right: 10px;
          gap: 10px;
          flex-grow: 4;
 
          p {
            margin: 0;
            font-size: 10 px;
            font-family: poppins;
            font-weight: 600;
          }
 
          .barPercentage {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
          }
        }
   
        .progressBar {
          height: 15px;
          background-color: $blue3;
          border-radius: 5px;
          transition: width 0.4s ease;
          flex-grow: 1;
        }
     
        .deleteIcon {
          width: 20px;
          height: 20px;
          margin-left: 10px;
          margin-right: 20px;
          cursor: pointer;
          //fill: #ff0000;
        }
      }
    }
    .previewContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: poppins;
      font-size: small;
      // width: calc(50% - 10px);
 
      .preview {
        display: flex;
        justify-content: center;
        // align-items: end;
        img {
         
       
          width: 95%;
          height: auto;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
 
  .cropBtn {
    border-radius: 20px;
    margin-top: 20px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
 
    .cropImageBtn {
      border: none;
      background: no-repeat;
      padding: 14px;
      color: #fff;
      font-size: 16px;
      font-weight: 600px;
      line-height: 24px;
    }
    .bi{
      font-size: 20px;
      padding-right: 10px;
    }
  }
 
  .backToHomeBtn {
    border-radius: 20px;
    margin-top: 30px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: calc(50% - 10px);
 
    .backButton {
      border: none;
      background: no-repeat;
      padding: 14px;
      color: #fff;
    }
  }
}
 
 