.container {
    // display: flex;
    // flex-direction: row;
    // gap: 24px;
    // padding: 1rem 0;
    // flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 columns with equal width
    gap: 24px; // Space between the cards
    padding: 1rem 0;
  }
  