.card {
  background-color:#E1E8F8;
  padding: 1rem;
  border: 1px solid #E1E8F8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.25rem; // Equivalent to 20px
  border-radius: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  
  .text-muted {
    // font-size: 12px;
    // font-weight: 500;
    // line-height: 18px;
    // color: #6c757d; // Default muted color
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    color:#243744;
  }

  .card-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0.5rem;
    color: #212529; // Default body color
  }

  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #6c757d; // Default muted color
  }

  .avatars {
    display: flex;
    flex-wrap: nowrap;
   

    span {
      text-align: center;
      font-size: 15px;
      color: #6c757d; // Default muted color
    }
  }

  .viewBtn {
    background-color: #3f51b5; // Primary blue color
    border: none;
    padding: 0 0.75rem ; // Adjust button padding
    color: #ffffff; // White text color
    display: flex;
    border-radius: 8px;
    align-items: center;
    border-radius: 4px; // Optional for rounded corners

    .viewBtnText {
      font-size: 10px;
      font-weight: 500;
      line-height: 18px;
    }
  }
}
